body {
    background: url("../images/images1.jpeg") no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    /* background-color: red; */
}
nav {
    position: fixed;
    top: -1;
    margin-top: 0;
    padding-top: 0;
}
